/* Container */
.card-container{
  max-width: 900px;
  margin: 24px auto;
  padding: 20px;
  font-family: "Noto Sans", "Segoe UI", Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

/* Base card */
.card{
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  border-radius: 10px;
  padding: 14px 16px;
  cursor: pointer;
  transition: background 0.16s ease, transform 0.12s ease;
  user-select: none;
  outline: none;
  border: 1px solid transparent;
  margin-bottom: 16px;
  padding: 18px 20px;
  border-color: rgba(0,0,0,0.06);
}

/* hover / focus states */
.card:hover,
.card:focus{
  transform: translateY(-2px);
}

/* img */
.card i,
.card img.card-icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* only icon */
  background: #f2f2f2;
  border-radius: 6px; 
  margin-right: 12px;
  color: #363636;   /* icon coror */

}

.card img.card-icon {
  width: 100%; 
  max-width: 250px;
  height: auto;
  object-fit: contain;
  margin-bottom: 8px; 
  background: #fff;
}

/* content */
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.card-title{
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #111;
  align-self: flex-start;
}

.card-subtitle{
  font-size: 14px;
  color: #8a8a8a;
  margin-top: 6px;
}

.short-cards{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 36px;
}

.short-cards .card.short{
  flex: 0 0 calc((100% - 12px) / 2);
  box-sizing: border-box;
  min-width: 160px;
  justify-content: flex-start;
}

.short-cards .card.short .card-content{
  text-align: left;
}

.layout {
  display: flex;
}

/* sidebar */
.sidebar {
  position: fixed; /* fixed on left */
  top: 0;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  padding: 60px 16px; 
}

.sidebar a {
  font-size: 14px;
  display: block;
  margin: 1.5rem 0;
  color: #8a8a8a;
  text-decoration: none;
}

.sidebar a:hover {
  color: #333;
}

.content {
  flex: 1;
  padding: 1rem;
  margin-left: 100px;
}

/* Responsive */
@media (max-width: 480px){
  .card-container{ padding: 12px; }
  .short-cards{
    flex-direction: column;
  }
  .short-cards .card.short{
    flex: 1 1 auto;
    width: 100%;
  }
  .sidebar {
    display: none; /* Hidden sidebar */
  }
  .content {
    margin-left: 0;
    padding: 12px;
    display: flex;  
    justify-content: center; 
  }
}
